<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Playground</title>
    <style>
        .box{
            background-color: {{bg_color}}
        }
    </style>
</head>

<body>
    
    <H1>Welcome!</H1>



<div class="container">
    {% for x in range(0, times): %}
        <div class="box">
            <p></p>
        </div>
    {%  endfor %}
</div>

    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>